 *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.product-section{
    width: 100%;
    height: 100%;
    /* margin-top: 10%;
    margin-bottom: 50px; */
    padding: 100px;
    background-color: hsl(30, 38%, 92%)
    
}

.product-container{
    width: 60%;
    height: 50%;
    /*border: 5px solid red;*/
    left: 20%;
    position: relative;
    padding: 20px;
    margin-bottom: 200px;
    display: flex;
    
  
    /* margin-top: 90px;
    margin-right: 20%;
    margin-left: 20%;*/
  

}

.product-img-container img{
    width: 17rem;
    height: 25rem;
    left: 10%;
    position: absolute;
    /*margin-left: 15%;
    */border-radius: 10px 0px 0px 10px;
    
    
}

.product-detail-container{
    width: 17rem;
    height: 25rem;
    margin-left: 49.5%;
    margin-top: 0px;

    display: grid;
    background-color: white;
    border-radius: 0px 10px 10px 0px;
    padding: 30px;
    /* font-family: 'Montserrat', sans-serif;
    font-weight: 500; */
    
   
}

.product-type{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: hsl(228, 12%, 48%);    ;

}

.product-name{
    font-family: 'Fraunces', serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 30px;
    color:  hsl(212, 21%, 14%);
} 

.product-description{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: hsl(228, 12%, 48%);
    line-height: 20px;
}

.product-price-container{
    display: flex;
}

.product-price{
    font-size: 35px;
    font-family: 'Fraunces', serif;
    color:  hsl(158, 36%, 37%);
    font-weight: bolder;    
}

.old-product-price{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    margin-left: 20px;
    margin-top: 12px;
}

.btn{
    background-color: hsl(158, 48%, 18%);
    border-style: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: -20px;
    height: 42px;
    width: 200px;
    cursor: pointer;
    transition: all 0.5s;

}

.btn:hover {background-color: #525353
}

.btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.fa-solid{
    margin-right: 10px; 
}









/* @import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
  border:0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 14px;
}


.product-section {
  background-color: hsl(30, 38%, 92%);
  height:100vh;
  padding: 70px 0;
}

.product-container {
  border: 1px solid purple;
  width: 700px;
  height: 70%;
  margin: 0px auto;
  display: flex;
  border-radius: 20px;
}

.product-img-container {
  height: 100%;
  width: 350px;
  border: 1px olid blue;
}

img{
  height: inherit;
  width: inherit;
  border-radius: 20px 0 0  20px;
}

.product-detail-container {
  height: 100%;
  width: 350px;
  background-color: #fff;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 50px;
}

.product-type {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: hsl(228, 12%, 48%);
  
}

.product-name {
  font-family: 'Fraunces', serif;
  font-size: 40px;
  line-height: 40px;
  color:  hsl(212, 21%, 14%);
}

.product-description {
  font-family: 'Montserrat', sans-serif;
  color: hsl(228, 12%, 48%);
  line-height: 22px;
}

.product-price-container {
  display: flex;
  
}
 */
